---
const { frontmatter } = Astro.props

import BaseLayout from './Base/BaseLayout.astro'
import CardArticle from '@components/Single/CardArticle.astro'
import CallToAction from '@components/HomePageSections/CallToAction.astro'
import IconList from '@components/IconList.astro'
import TimeLineItem from '@components/Single/TimeLineItem.astro'
import Button from '@components/Form/Button.astro'
import FlexColGap5 from '@components/FlexColGap5.astro'
import SimplePost from '@components/SimplePost.astro'

const PostsPerPage = 4

import { getCollection } from 'astro:content'

const works = (
	await getCollection('works', ({ data }) => {
		return data.isDraft !== true && data.title !== frontmatter.title
		// exclude actual post
	})
)
	.sort(() => Math.random() - 0.5)
	.slice(0, PostsPerPage)
---

<BaseLayout pageTitle={frontmatter.title}>
	<article class="flex flex-col gap-14">
		<FlexColGap5>
			<h1 class="text-3xl font-bold leading-tight tracking-tight text-slate-900 sm:text-4xl">
				{frontmatter.title}
			</h1>
			<p class="text-md font-normal leading-relaxed text-slate-600 sm:text-lg">
				{frontmatter.description}
			</p>
		</FlexColGap5>

		<FlexColGap5>
			<section class="grid grid-cols-12 grid-rows-2 gap-4">
				<CardArticle classNames="items-center col-span-12 sm:col-span-4 row-span-2 max-h-52 md:max-h-72">
					<img src={frontmatter.client.logo} alt={frontmatter.client.name} class="max-h-full"/>
				</CardArticle>
				<CardArticle classNames="col-span-6 sm:col-span-4">
					<h4 class="text-2xl font-semibold tracking-tight text-slate-900">
						{frontmatter.year}
					</h4>
					<p class="text-sm text-slate-500">Year</p>
				</CardArticle>
				<CardArticle classNames="col-span-6 sm:col-span-4">
					<h4 class="text-2xl font-semibold tracking-tight text-slate-900">
						{frontmatter.deadline}
					</h4>
					<p class="text-sm text-slate-500">Deadline</p>
				</CardArticle>

				<CardArticle classNames="col-span-6 sm:col-span-4">
					<div class="flex gap-2">
						<IconList stacks={frontmatter.stacks} />
					</div>

					<p class="text-sm text-slate-500">Stack</p>
				</CardArticle>

				{
					frontmatter.languages && (
						<CardArticle classNames="col-span-6 sm:col-span-4">
							<div class="flex gap-2">
								<IconList stacks={frontmatter.languages} />
							</div>

							<p class="text-sm text-slate-500">Languages</p>
						</CardArticle>
					)
				}
			</section>

			<img
				src={frontmatter.image.src}
				width="820"
				alt={frontmatter.image.alt || ' '}
				class="w-full rounded-2xl object-cover"
			/>
		</FlexColGap5>

		<FlexColGap5>
			<h3 class="text-3xl font-bold leading-tight tracking-tight text-slate-900 sm:text-4xl">
				Project Description
			</h3>

			<div class="prose prose-slate max-w-none">
				<slot />
			</div>
		</FlexColGap5>

		<FlexColGap5>
			<h3 class="text-3xl font-bold leading-tight tracking-tight text-slate-900 sm:text-4xl">
				Project TimeLine
			</h3>
			<div>
				{
					frontmatter.timeline.map((item) => (
						<TimeLineItem date={item.date} title={item.title} desc={item.desc} />
					))
				}
			</div>
		</FlexColGap5>

		<div
			class="flex flex-col items-center justify-center gap-5 rounded-2xl bg-primary-500 px-5 py-10 sm:flex-row"
		>
			<h3 class="text-3xl font-bold leading-tight tracking-tight text-white sm:text-4xl">
				Wanna see it live?
			</h3>

			<Button
				href={frontmatter.website}
				title="Visit Website"
				icon="ph:arrow-up-right-bold"
				size="lg"
				variant="badge"
				target="_blank"
			/>
		</div>

		<FlexColGap5>
			<h3 class="text-3xl font-bold leading-tight tracking-tight text-slate-900 sm:text-4xl">
				Other Projects
			</h3>

			<div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2">
				{
					works.map((work) => (
						<SimplePost
							url={`/works/${work.slug}`}
							stacks={work.data.stacks}
							languages={work.data.languages}
							key={work.id}
							description={work.data.description}
							title={work.data.title}
							year={work.data.year}
							img={work.data.image}
						/>
					))
				}
			</div>
		</FlexColGap5>
	</article>

	<CallToAction />
</BaseLayout>
