---
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'
import WorkPost from '@components/Work/WorkPost.astro'
let { PostsPerPage } = Astro.props

const works = (
	await getCollection('works', ({ data }) => {
		return data.isDraft !== true
	})
)
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, PostsPerPage)
	
---

<div class="grid gap-5 sm:grid-cols-1 sm:gap-6 md:grid-cols-2">
	{
		works
		.slice() // evită mutarea originalului
		.map((work) => (
			<WorkPost
				url={`/works/${work.slug}`}
				stacks={work.data.stacks}
				languages={work.data.languages}
				key={work.id}
				description={work.data.description}
				title={work.data.title}
				year={work.data.year}
				img={work.data.image}
				pubDate={work.data.pubDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}
			/>
		))
	}

	<slot />
</div>
