---
import { Icon } from 'astro-icon'
import Button from '@components/Form/Button.astro'
import Tooltip from '@components/Tooltip.astro'

let { url, title, year, img, description, stacks, languages } = Astro.props
let short_description = description ? description.replace(/(.{85})..+/, '$1...') : ''
---

<article class="rounded-2xl border border-slate-200">
	<a href={url}>
		<img class="h-60 w-full rounded-2xl object-cover p-2" alt={img.alt} src={img.src} decoding="async">
	</a>
	<div class="flex flex-col gap-2 p-5 pt-3">
		<div class="flex flex-col gap-2">
			<a href={url}>
				<h4 class="pr-1 text-xl font-semibold tracking-tight text-slate-800">
					{title}
				</h4>
			</a>

			<div class="flex flex-wrap gap-1.5 align-top">
				{
					stacks.map((stack) => (
						<>
							<div class=" border-1 group relative inline-flex grow-0 items-center justify-center gap-2 overflow-hidden rounded-full border border-slate-300 bg-slate-100 px-2 py-0.5 text-sm text-slate-600 hover:bg-slate-200 hover:text-slate-700">
								<>
									<span class="z-40">{stack}</span>
								</>
							</div>
						</>
					))
				}
			</div>
		</div>

		<p class="text-md font-normal text-slate-600">
			{short_description}
		</p>

		<div class="flex items-center justify-between">
			<Button href={url} title="View case" icon="ph:caret-right-bold" size="md" border />
		</div>
	</div>
</article>
